
body {
    background-color: #444444;

}

.main {
    margin: auto;
    width: 740px;
    border: 0.6em solid #777777;
    padding: 30px;


}

h1 {
    text-align: center
}
h2{
    color: white;
}

li {
    display: inline-block;
 
}
.aboutMe{
    color: white;
    border-right: 2px solid white;
    padding-right:4px;
    text-decoration: none !important;
  }

.resume{
    color:#66CD9B;
}
  

  img{
      float: right;
      width:300px;
      height:325px;
      margin-left:15px;
      border: 1px  solid  white; 
      padding: 10px;
      
  }
  p{
      color: white;
      font-size: 1.5em;
  }
  .logo{
      color: white;

  }

  header{
text-align: center;
  }





  footer{
      text-align: center;
  }

  .footerLinks{
      border-right:2px solid white;
      padding-right: 4px;
  }